AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=us-east-1
DETECTOR_ID=your_guardduty_detector_id_here
JIRA_DOMAIN=yourname.atlassian.net
JIRA_EMAIL=your_email_here
JIRA_API_TOKEN=your_jira_api_token_here
JIRA_PROJECT_KEY=KAN